[submodule "evaluations/fastvideodiffusion/common_metrics_on_video_quality"]
	path = evaluations/fastvideodiffusion/common_metrics_on_video_quality
	url = https://github.com/JunyaoHu/common_metrics_on_video_quality.git
