numpy
tqdm
psutil
packaging
pre-commit
rich
click
fabric
contexttimer
ninja
torch>=1.13
safetensors
einops
pydantic
ray
protobuf
gdown
pyav
tensorboard
timm
matplotlib
accelerate
diffusers
transformers
colossalai
omegaconf
ftfy