accelerate>0.17.0
bs4
click
colossalai
contexttimer
diffusers==0.30.0
einops
fabric
ftfy
imageio
imageio-ffmpeg
matplotlib
ninja
numpy<2.0.0
omegaconf
packaging
psutil
pydantic
ray
rich
safetensors
sentencepiece
timm
torch>=1.13
tqdm
transformers==4.39.3
